<% content_for :head do %>
	<% render "froalalinks" %>
<% end %>


<div class="article-section">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit a Blog Article<br />
                    <small>Personal content creation</small>
                </h1>
            </div>
        </div>

	<div class="edit-article">
		<h2>Editing Article</h2>

		<%= render 'form' %>
		
		<br>
		<%= link_to 'Back', blog_path %>
		</div>
	</div>
</div>


	<script>
	  $(function() {
	    $('#froala-editor').froalaEditor({
	    	toolbarButtons: ['bold', 'italic', 'underline', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', '|', 'quote', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html']
	    })
	  });
	</script> 