<img src="https://dl.dropboxusercontent.com/u/18579262/kmcolour.jpg">
<p>Working in the web since 2004, my interests have moved from writing for the web to writing code. Presently freelancing as a Technical Writer at a local coworking office and learning to code whenever free time comes to me.</p>
<p>Watch out for live demos in the coming months.</p>
<p>I write and edit technical documents including user guides, process documents and website content.</p>
<p>I know HTML, CSS, JavaScript, jQuery, and Ruby on Rails and am learning how to put it all together.</p>
<p>I am a MS Word specialist and am proficient in Excel, PowerPoint, Illustrator, inDesign and Photoshop.</p>