


<!-- About Item Heading -->
        
<div class="about-section">
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Karen
                    <small>Technical Writer and Web Specialist</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!-- About Item Row -->
       <div class="about-content">

        <div class="row">
            
            <div class="col-xs-6 col-md-4">
                <div class="rink-kmabout"> </div>
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="about-info">
                <h3>Karen, the Technical Writer etc.</h3>
                <p>Working in the web since 2004, my interests have moved from writing for the web to writing code. Presently, I am freelancing as a Technical Writer at a local coworking office and learning to code on the side.</p>
                <p>Check out my professional site at <a href="http://www.openangle.ca" target: blank>openAngle.ca</a>.</p>
                
                <h3>Experience</h3>
                <p>I write and edit technical documents including user guides, process documents and website content.</p>
                <h3>Skills</h3>
                <p>I know HTML, CSS, JavaScript, jQuery, and Ruby on Rails and am learning how to put it all together.</p>
				<p>I am an MS Word specialist and am proficient in Excel, PowerPoint, Illustrator, inDesign and Photoshop.</p>

				<h3>The Other Stuff</h3>
				<p>I love Flames hockey, yoga, live music and walking in Fish Creek Park with my family.</p>
                </div>
            </div>

            </div>
            <hr class="about-divider">
        </div>
<!-- /.row -->
</div>
</div>






<!--<img src="https://dl.dropboxusercontent.com/u/18579262/kmcolour.jpg">
<p>Working in the web since 2004, my interests have moved from writing for the web to writing code. Presently freelancing as a Technical Writer at a local coworking office and learning to code whenever free time comes to me.</p>
<p>Watch out for live demos in the coming months.</p>
<p>I write and edit technical documents including user guides, process documents and website content.</p>
<p>I know HTML, CSS, JavaScript, jQuery, and Ruby on Rails and am learning how to put it all together.</p>
<p>I am a MS Word specialist and am proficient in Excel, PowerPoint, Illustrator, inDesign and Photoshop.</p>
-->