<!-- Blog Item Heading -->
        
<div class="blog-section">
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog
                    <small>Personal content creation</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!-- Blog Item Row -->
       <div class="blog-item">

        <div class="row">
            
            <div class="col-xs-12 col-md-6">
                <div class="rink-abmountain"> </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="blog-info">
                <h3>Coming Soon</h3>
                <p>My first priority is to get a Rails site up and running. A future iteration of this site will include a blog.</p> 
                <p>My words and my code.</p>
                <p>Stay tuned!!</p>
                </div>
            </div>

            </div>
            <hr class="project-divider">
        </div>
<!-- /.row -->
</div>
</div>