
<!-- Contact Item Heading -->
        
<div class="contact-section">
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">I'd Love to Hear From You<br />
                    <small>Ways to face-off</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!-- About Item Row -->
       <div class="contact-content">

        <div class="row">
            
            <div class="col-xs-6 col-md-4">
                <%= link_to image_tag("faceoff.jpg", :class => "rink_img_v") %>
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="contact-info">
                <h4>Twitter:</h4>
				<p><a href="http://www.twitter.com/karenmclellan">@karenmclellan</a>

				<h4>Email:</h4>
				<p><a href="mailto:info@karenmclellan.com">info@karenmclellan.com</a></p>

				<h4>Phone:</h4>
				<p>(403)993-5874</p>

				<h4>Snail Mail:</h4>
				<p>1206 20 Ave SE, Calgary, AB  T2G 1M8</p>
                
                
                </div>
            </div>

            </div>
            <hr class="contact-divider">
        </div>
<!-- /.row -->

</div>
</div>

<!--<h2>I'd love to hear from you</h2>

<h4>Ways to say "Hello!"</h4>

-->

