<!-- Portfolio Item Heading -->
        
<div class="project-section">
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Learning Portfolio<br />
                    <small>Projects Built to Learn</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!-- Portfolio Item Row -->
       <div class="portfolio-item">

        <div class="row">
            
            <div class="col-xs-12 col-md-6">
                
                <%= link_to image_tag("kmportfolio.jpg", :class => "rink_img"), "http://www.karenmclellan.com", :target => "_blank" %>
                
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="project-info">
                <h3>Learning Portfolio Website</h3>
                <p>This website started as a Codecademy Rails project and was customized to be my personal portfolio site.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Built with Ruby on Rails</li>
                    <li>Uses Bootstrap for responsive functionality and design</li>
                    <li>Includes a bit of Sass</li>
                    <li>Edited my own images using Adobe Photoshop</li>
                    <li>Version control using GitHub via the Terminal</li>
                    <li>Deployed with Heroku</li>
                </ul>
                <h4>Newly added:</h4>
                
                <p>The <%= link_to "blog", blog_path %> functionality is live, including authentication so I can author articles in the browser. Still to come, I'll be able to upload images to articles and of course, content. Take that Wordpress!</p>
                </div>
                
            </div>

            </div>
            <hr class="project-divider">
        </div>
<!-- /.row -->

        <!-- Portfolio Item Row -->
       <div class="portfolio-item">

        <div class="row">
            
            <div class="col-xs-12 col-md-6">
               
                <%= link_to image_tag("openanglescreen.jpg", :class => "rink_img"), "http://www.openangle.ca", :target => "_blank" %>
            
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="project-info">
                <h3>&ltopenAngle Solutions</h3>
                <p>I built this website to be my professional storefront for freelance Technical Writing services.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Used a one-page Bootstrap template</li>
                    <li>Created logo in Adobe Illustrator</li>
                    <li>Customized icons to reflect site colour-scheme</li>
                    <li>Edited map to reflect personalized location</li>
                </ul>
                </div>
            </div>

            </div>
            <hr class="project-divider">
        </div>
<!-- /.row -->

<!-- Portfolio Item Row -->
       <div class="portfolio-item">

        <div class="row">
            
            <div class="col-xs-12 col-md-6 ">
                
                <%= link_to image_tag("codecademy.jpg", :class => "rink_img"), "http://www.codecademy.com", :target => "_blank" %>
               
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="project-info">
                <h3>Learning with Codecademy</h3>
                <p>In the past six months I have used Codecademy to learn about code.</p>
                <h3>I've completed these courses:</h3>
                <ul>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Sass</li>
                    <li>Ruby</li>
                    <li>Ruby on Rails</li>
                    <li>Rails Authentication</li>
                    <li>Command Line</li>
                    <li>Git</li>
                    
                </ul>
                </div>
            </div>

            </div>
            <hr class="project-divider">
        </div>
<!-- /.row -->

</div>

</div>
   <!--<div class="banner">
	    <ul><li><img src="https://dl.dropboxusercontent.com/u/18579262/Karen_McLellan_Banner.png"></li>
            <li><img src="https://dl.dropboxusercontent.com/u/18579262/Sunexo_Solutions_Cover.png"></li></ul>
	</div>

		<div class="row">
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Karen_McLellan_%E2%80%93_Writer___Web_Specialist.png">
        	<h4>Personal Website</h4>
        	<p>This was my initial website that I set up using a wordpress template. My focus was not the code, but the content. In particular, I needed a blog ASAP without the delay of development time.</p>
        	<a href="http://www.karenmclellan.com">KarenMcLellan.com</a>
        </div>
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Cookies_for_Cal_-_Dairy-free__egg-free__nut-free_recipes.png">
        	<h4>Recipe Website</h4>
        	<p>To demonstrate my ability to write clear instructions. My focus again, was not the code, but writing easy to follow recipes with engaging supporting content. I set up this wordpress website with hosting, and recipe, SEO and security plug-ins.</p>
        	<a href="http://www.cookiesforcal.com">CookiesforCal.com</a>
        </div>
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Sunexo_Solutions_Software.png">
        	<h4>Technical Writing Client Website</h4>
        	<p>My first project with Sunexo Solutions was to improve website design, messaging and support content. I changed all design elements to reflect company colors and maintained a simple, clean design while adding content under a more comprehensive information architecture. In addition, I re-organized the support section under clear categories for easier navigation.</p>
        	<a href="http://www.sunexoinc.com">SunexoInc.com</a>
        </div>
      </div> -->




