

   <div class="banner">
	    <ul><li><img src="https://dl.dropboxusercontent.com/u/18579262/Karen_McLellan_Banner.png"></li>
            <li><img src="https://dl.dropboxusercontent.com/u/18579262/Sunexo_Solutions_Cover.png"></li></ul>
	</div>

		<div class="row">
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Karen_McLellan_%E2%80%93_Writer___Web_Specialist.png">
        	<h4>Personal Website</h4>
        	<p>This was my initial website that I set up using a wordpress template. My focus was not the code, but the content. In particular, I needed a blog ASAP without the delay of development time.</p>
        	<a href="http://www.karenmclellan.com">KarenMcLellan.com</a>
        </div>
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Cookies_for_Cal_-_Dairy-free__egg-free__nut-free_recipes.png">
        	<h4>Recipe Website</h4>
        	<p>To demonstrate my ability to write clear instructions. My focus again, was not the code, but writing easy to follow recipes with engaging supporting content. I set up this wordpress website with hosting, and recipe, SEO and security plug-ins.</p>
        	<a href="http://www.cookiesforcal.com">CookiesforCal.com</a>
        </div>
        <div class="col-md-4">
        	<img src="https://dl.dropboxusercontent.com/u/18579262/Sunexo_Solutions_Software.png">
        	<h4>Technical Writing Client Website</h4>
        	<p>My first project with Sunexo Solutions was to improve website design, messaging and support content. I changed all design elements to reflect company colors and maintained a simple, clean design while adding content under a more comprehensive information architecture. In addition, I re-organized the support section under clear categories for easier navigation.</p>
        	<a href="http://www.sunexoinc.com">SunexoInc.com</a>
        </div>
      </div>




