
<!-- <div class="wrapper">
<div class="main">
	<div class="content">
		<p> A love of all language, written or digital. Technical writing and a student of code.</p>
		<button>
			<%= link_to "View My Work", projects_path %>
		</button>
	</div>
</div>
</div> -->

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Big Fan of the Web</h1>
                        <h3>Skating to Play in the Game</h3>
                        
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/karenmclellan" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/krmclellan" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://ca.linkedin.com/in/krmclellan" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Learning Portfolio</h2>
                <div class="col-xs-12 col-md-6">  
                    <div class="rink-openangle">
                        
                    </div> 
                    
                </div>
                <div class="col-xs-12 col-md-6"> 
                    <div class="rink-codecademy">
                        
                    </div>
                </div>
                
            </div>
        <div class="learnmore"><%= link_to "See what I've been up to >>", projects_path %></div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    

	