

<div class="main">
	<div class="content">
		<p> A love of all language, written or digital. Technical writing and a student of code.</p>
		<button>
			<%= link_to "View My Work", projects_path %>
		</button>
	</div>
</div>

