
<!-- <div class="wrapper">
<div class="main">
	<div class="content">
		<p> A love of all language, written or digital. Technical writing and a student of code.</p>
		<button>
			<%= link_to "View My Work", projects_path %>
		</button>
	</div>
</div>
</div> -->

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Big Fan of the Web</h1>
                        <h3>Skating to Play in the Game</h3>
                        
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/karenmclellan" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/krmclellan" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://ca.linkedin.com/in/krmclellan" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Page Content -->

	
    
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Learning Portfolio</h2>
                    <p class="lead">As a former internet marketer and current technical writer, I have been working with web technology since 2004. After years of dabbling in development, I've reached the point where I need to build something to apply what I've learned.</p>
                    <p class="lead">This website will showcase what I build.</p>
                <div class="col-xs-12 col-md-6">  
                    <%= link_to "http://www.openangle.ca" do %>
                    <div class="rink-openangle">
                        
                    </div> 
                    <% end %>
                </div>
                <div class="col-xs-12 col-md-6"> 
                    <%= link_to "http://www.codecademy.com" do %>
                    <div class="rink-codecademy">
                        
                    </div>
                    <% end %>
                </div>
                
            </div>
        <div class="learnmore"><%= link_to "See what I've been up to >>", projects_path %></div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div> -->
        <!-- /.container -->

   <!-- </div> -->
<!-- /.content-section-b --> 

    

	