// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_label {
	padding-right: 40px;
}

td {
	padding-bottom: 15px;
}

table {
	margin-bottom: 20px;
}